{% extends 'base.html.twig' %}

{% block title %}New PlayerDrill{% endblock %}

{% block body %}
    <h1>Create new PlayerDrill</h1>

    {{ include('player_drill/_form.html.twig') }}

    <a href="{{ path('player_drill_index') }}">back to list</a>
{% endblock %}
