{% extends 'base.html.twig' %}

    {% block body %}
        <h1>sitemap home</h1>
        <p>
            welcome to the Sitemap home page
            <br>
            <a  href="{{ url('homepage') }}">home page </a>
            <br>
            <a  href="{{ url('aboutpage') }}">about page </a>
        </p>
    {% endblock %}